@model List<Assigment1.Models.Employee>
@Html.Raw(TempData["Msg"])
<div class="container">
    <a asp-action="Create" asp-controller="Employee">Create</a>
    <table class="table table-info text-center">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Employee Salary</th>
            <th colspan="2">Action</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.Departments.DepartmentName</td>
                <td>@item.Salary</td>
                <td><a asp-action="Delete" new { onclick="return confirm('Are sure wants to delete Id @item.EmpId');" }
                    asp-route-id="@item.EmpId" class="btn btn-danger">Delete</a></td>
                <td><a asp-action="Edit" asp-route-id="@item.EmpId" class="btn btn-danger">Edit</a></td>
            </tr>
        }
    </table>
</div>